.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2em; */
}
.labelContainer {
    border: 0.1rem solid rgb(205, 203, 203);
    padding: 1.5em 0;
    margin-bottom: 2em;
    border-radius: 0.4rem;
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1faee;
}
.label {
    cursor: pointer;
    height: 100%;
    color: rgb(119, 116, 116);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em
}
.label__selectImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.file {
    display: none;
}
.fileImage {
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 0.7rem;
}
.error {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    font-family: inherit;
}